@model IEnumerable<InstagramClone.Models.User>

@{
    ViewBag.Title = "viewFriends";
}

<h1>@ViewBag.Title</h1>

@if (ViewBag.error != null)
{
    <p>@ViewBag.error</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.First_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone)
                </td>
                
                <td>
                    @Html.ActionLink("Remove Friend", "removeFriend", new { User_Id = item.id })
                </td>
            </tr>
        }

    </table>

}